@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h2>You can create pdf</h2>
<div>
    <a class="btn btn-default btn-default" href="@Url.Action("GenerateDataForPDF", "PdfGenerate", new { convert = "topdf" })" target="blank"> Save Embroidery Pattern </a>
</div>
