@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

  
    <p>
        PDF report. This report will contain following
        <ol>
            <li>Used Colors List. Each item should contain following: Color Thumbnail, Color Name, Stitches Count.</li>
            <li>Input Image</li>
            <li>Embroidery Pattern Image (with grid)</li>
        </ol>
        <img src="http://toogarin.ru/test/markup/pdfreader/huge.jpg" alt="Alternate Text" />
    </p>
      
