@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

@using (Html.BeginForm("DownloadReport", "PDF"))
{
    <div id="convertAboutPageButtonDiv">
        <input type="submit" value="Save Embroidery Pattern" />
    </div>
}