

<html>
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
    <div class="contain">
        <img src="http://s.developers.org.ua/CACHE/images/img/static/companies/craft/3c38c3d1482061d8d66edbaef6f6d829.png" />
        <div class="content">
            <div class="center">
                Hello, @User, You have switched to a reset password page!

            </div>
            Please click on this link to change your password:
        </div>
    </div>
</body>
</html>



